<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721918403644-93srepfg3ecro93eoilpbiqns7obpldo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721918403644-93srepfg3ecro93eoilpbiqns7obpldo</string>
	<key>API_KEY</key>
	<string>AIzaSyDqDUNrZVc1DHl_rHO79CgqIIbHohDztc4</string>
	<key>GCM_SENDER_ID</key>
	<string>721918403644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DeveloperPaul.Cookid</string>
	<key>PROJECT_ID</key>
	<string>cookid-2e07c</string>
	<key>STORAGE_BUCKET</key>
	<string>cookid-2e07c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721918403644:ios:9f82c5797fe0232e77cf39</string>
</dict>
</plist>